<!DOCTYPE html>
<html>
  <head>
    <title>Shkaf</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="../index/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../index/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../index/stylesheets/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="../index/stylesheets/jquery.formstyler.css">
    <link rel="stylesheet" type="text/css" href="../index/stylesheets/animations.css">

    <script type="text/javascript" src="../index/javascripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../index/javascripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="../index/javascripts/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="../index/javascripts/jquery.formstyler.min.js"></script>
    <script type="text/javascript" src="../index/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="../index/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
